{{- $title := .Get "title" | default "証明" }}
{{- $label := .Get "label" | default (delimit (seq 9 | shuffle) "") }}
{{- $path := .Page.File }}
{{ if strings.HasSuffix $path "adoc" }}+++{{ end }}
<div class="xProof">
    <label class="xProof_title" id="id-{{ $label }}">{{ $title }}</label>
    <script type="text/javascript">
        title_elem = document.getElementById("id-{{ $label }}");
        title_elem.textContent += " " + theorem.proof;
        theorem.proof += 1;
    </script>
    <div class="xProof_body"> {{.Inner}} </div>
</div>
{{ if strings.HasSuffix $path "adoc" }}+++{{ end }}