.xAccordion {

    /* タイトル */
    &_title {
        display: block;
        padding: 0.5rem 0.7rem;
        background: #ddd;
        cursor: pointer;

        &::after {
            font-size: smaller;
            color: #999;
            content: "click";
        }

        &:hover {
            background: #ccc;
        }
    }

    &_body {
        display: none;
        /* デフォルトでは本文は非表示 */

        /* 本文の共通設定 */
        border: solid lightgray 1px;
        padding: 0.5rem;
    }

    input {
        display: none;
        /* チェックボックスは非表示 */

        /* ラベルをクリックしたら本文を開く（表示） */
        &:checked+.xAccordion_body {
            display: block;
        }
    }
}

.xDefinition {
    &_title {
        display: block;
        padding: 0.5rem 0.7rem;
        background: #ddd;
        color: var(--theorem-text-color);

        &::after {
            font-size: smaller;
            color: #999;
        }
    }

    &_body {
        display: block;
        border: solid lightgray 1px;
        padding: 2rem;
    }
}

.xProposition {
    &_title {
        display: block;
        padding: 0.5rem 0.7rem;
        background: #ddd;
        color: var(--theorem-text-color);

        &::after {
            font-size: smaller;
            color: #999;
        }
    }

    &_body {
        display: block;
        border: solid lightgray 1px;
        padding: 2rem;
    }
}

.xTheorem {
    &_title {
        display: block;
        padding: 0.5rem 0.7rem;
        background: #ddd;
        color: var(--theorem-text-color);

        &::after {
            font-size: smaller;
            color: #999;
        }
    }

    &_body {
        display: block;
        border: solid lightgray 1px;
        padding: 2rem;
    }
}

.xExample {
    &_title {
        display: block;
        padding: 0.5rem 0.7rem;
        background: #ddd;
        color: var(--theorem-text-color);

        &::after {
            font-size: smaller;
            color: #999;
        }
    }

    &_body {
        display: block;
        border: solid lightgray 1px;
        padding: 2rem;
    }
}

.xProof {
    &_title {
        display: block;
        padding: 0.5rem 0.7rem;
        background: #ddd;
        color: var(--theorem-text-color);

        &::after {
            font-size: smaller;
            color: #999;
        }
    }

    &_body {
        display: block;
        border: solid lightgray 1px;
        padding: 2rem;
    }
}